@page "/not-found"
@layout MainLayout

<PageTitle>Страница не найдена</PageTitle>

<h3>Страница не найдена</h3>
<p>К сожалению, запрошенная страница не существует.</p>
<a class="btn btn-primary" href="">К списку работ</a>
